doctype 5
html
  head
    link(href='/css/style.css', type='text/css', rel='stylesheet')
    script(src='/socket.io/socket.io.js')
    script(src='/js/jquery-1.10.2.min.js')
    script(src='/js/client.js')

  body
    #header 
      h2 DevConFabulator5

    #content
      block content

    #footer
      a(href='https://github.com/jedp/devconfabulator5') This is on github
